DateTime==5.5
imbalanced-learn==0.13.0
ipydatetime==1.2.0
ipyvue==1.11.2
ipyvuetify==1.10.0
ipywidgets==8.1.5
joblib==1.4.2
jupyterlab_widgets==3.0.13
lightgbm==4.5.0
nvidia-nccl-cu12==2.23.4
scikit-learn==1.6.0
scipy==1.14.1
sklearn-compat==0.1.3
smogn==0.1.2
threadpoolctl==3.5.0
tqdm==4.67.1
uuid==1.30
widgetsnbextension==4.0.13
xgboost==2.1.3
zope.interface==7.2
